---
import MainLayout from "../layouts/MainLayout.astro"
const name = "Ariana Alisson"
---

<MainLayout title="Inicio">
	<h1>{name} x </h1>
	<p>Momento actual: {new Date().toLocaleDateString()} {new Date().toLocaleTimeString()}</p>
	<p id="current-time">Momento actual real: </p>
	

	<script>
		const currentTime = new Date().toLocaleTimeString()
		let menssage = document.getElementById("current-time") as HTMLParagraphElement
		menssage.textContent += `${currentTime}`;
	</script>
</MainLayout>